body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Nostoc_commune.jpg/800px-Nostoc_commune.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
